<tbody>
	<tr bgcolor="<%="#21f22c" if !size_price.price.upcase.scan("Акция".upcase).blank? %>">
		<td><%= @page.name %></td>
		<td>"<%= size_price.size %></td>
		<td><%= size_price.color %></td>
		<td><%= size_price.weight %></td>
		<td><%= size_price.price %></td>
	</tr>
</tbody>