<% provide(:title, @page.name) %>
<div class="wrapper">
	<%= raw @page.content %>
  <% if @page.slug!="order" or @page.slug!="index" %>
  	<%= @page.stand.content if !@page.stand.nil? %>
  	
	  	<div class="gallery gallery_1 ">
	  		<ul>
	  			<%= render @page.gallery_tops if !@page.gallery_tops.nil?  %>
	  		</ul>
	 		</div>

 		<% if @page.size_prices.count>0 %>
  	<table>
			<thead>
				<tr>
					<th>Наименование</th>
					<th>Размеры</th>
					<th>Цена</th>
				</tr>
			</thead>
			<%= render @page.size_prices %>
		</table>
		<% end %>
		<%= render @page.gallery_bots if !@page.gallery_bots.nil? %>
  <% end %>
</div>

