<% provide(:title, @page.name) %>
<div class="wrapper">
	<%= image_tag(@dsc.image.url) if @page.slug==@dsc.stand_slug%>
	<%= raw @page.content %>
	<% if @page.slug!="order" && @page.slug!="index" && @page.slug!="design" %>
	<% if @page.gallery_tops.count>0 %>
	<h4>
		<% if @page.gallery_top_name.blank? %>
			Инструкция по сборке
		<% else %>
			<%= @page.gallery_top_name %>
		<% end %>
	</h4>
		<div class="gallery_6 ">
			<ul>
				<%= render @page.gallery_tops %>
			</ul>
		</div>
	<% end %>
	<% if @page.size_prices.count>0 %>
		<table>
			<thead>
				<tr>
					<th class="th_1">Наименование</th>
					<th class="th_2">Размеры</th>
					<th class="th_3">Цвет</th>
					<th class="th_4">Вес</th>
					<th class="th_5">Цена</th>
				</tr>
			</thead>
		<%= render @page.size_prices %>
		</table>
	<% end %>
	<%= link_to "Заказать", "/order", {class: "button"} %>
	<% if @page.gallery_bots.count>0 %>
	<h4>
		<% if @page.gallery_bot_name.blank? %>
			Примеры работ
		<% else %>
			<%= @page.gallery_bot_name %>
		<% end %>
	</h4>
		<div class="gallery_7 ">
			<ul>
				<%= render @page.gallery_bots%>
			</ul>
		</div>
	<% end %>
	<% end %>
</div>

