  <li class="<%="gallery_li_#{index}"%>">
    <a href="<%=gallery_top.image.url(:original)%>" rel="prettyPhoto[pp_gal]">
      <img src="<%=gallery_top.image.url(:gallery)%>" 
           alt="<%=gallery_top.alt %>"
           title="<%=gallery_top.title %>" />
    </a>
    <%= link_to "" do %>
       
    <% end %>
  </li>


